.words{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.word-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
}
img{
  height: 200px;
  width:200px;
}
.delete{
  width: 80px;
}