@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');


.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mohave";
  padding-top: 50px;
  
  
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#63BAAB;
  border-radius: 3%;
  width: 250px;
  
  

}
.input {
  border-radius: 5%;
 }

 @media only screen and (device-width: 768px) and (device-height: 1024px){
  .login-form{
    margin-top: 180px;
    width: 300px;
    height: 300px;
    
  }
 }
