@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: 50px;
  padding-left: 70px;
}
nav {
  font-family: "Mohave";
  background-color: #D2700D;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  height: 125px;
  border-radius: 1%;
  box-shadow: 1px 1px 2px 0.3px #cecece;
  overflow: hidden;
}
.login{
  font-size: 25px;
  padding-right: 50px;
}
.button {
  height: 30px;
  width: 100px;
  border-radius: 5%;
  background-color: #FFE9CF;
}
.current-user{
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  align-items: center;
  font-size: 28px;

}
.nav{
  display: flex;
}

.links{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 80px;
  font-size: 28px;
}


.button:hover{
  background-color: #63BAAB;
}

.logo:hover{
  color: #63BAAB;
}